{% extends 'base.html.twig' %}
{% block body %}
    <h2>Latest Todos</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>To do</th>
            <th>Due date</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
        <tr>
            <th scope="row">{{ todo.id }}</th>
            <td>{{ todo.name }}</td>
            <td>{{ todo.dueDate|date("F j, Y, g:i a") }}</td>
            <td><a href="/todo/details/1" class="btn btn-primary">View</a></td>
            <td><a href="/todo/edit/1" class="btn btn-default">Edit</a></td>
            <td><a href="/todo/delete/1" class="btn btn-danger">Delete</a></td>
        </tr>
            {% endfor %}
        </tbody>
    </table>
    TODO LIST
{% endblock %}